<div class="flex flex-wrap">
    <div class="w-1/4 p-4" style="height: 250px;" *ngFor="let repo of repos">
      <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden border border-gray-700 h-full text-white">
        <div class="p-4">
          <div class="font-bold text-lg mb-2">{{ repo.name }}</div>
          <p class="text-gray-400 truncate max-w-full">{{ repo.description }}</p>
        </div>
        <div >
          <div class="px-4 py-2">
            <ng-container *ngFor="let topic of repo.topics.slice(0, 3); let i = index">
              <span class="inline-block bg-gray-600 rounded-full px-3 py-1 text-sm font-semibold text-gray-200 mr-2 mb-2">{{ topic }}</span>
            </ng-container>
            <div class="px-4 py-2">
              <a href="{{ repo.html_url }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full inline-block" target="_blank">View Repo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  