@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Nunito', sans-serif;
    color: #f3f4f6;
    background-color: #111827;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
